/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://images.hdqwalls.com/wallpapers/the-good-dinosaur-illustration-zg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}